<div class="affix-menu-wrapper">
  <div
    id="affix-menu"
    style="z-index: 100000"
    class="navbar navbar-inverse gaz-container"
    data-spy="affix"
  >
    <div class="navbar-inner" style="height: 43px">
      <div id="archaeo-fixed-menu-icon"></div>
      <a
        class="btn btn-navbar"
        data-toggle="collapse"
        data-target=".nav-collapse"
      >
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="../">iDAI.gazetteer</a>
      <div class="nav-collapse pull-left">
        <ul class="nav">
          <li>
            <a href="#!/thesaurus/" i18n="@@ui.thesaurus.list">Thesaurus</a>
          </li>
          <li>
            <a href="#!/extended-search/" i18n="@@ui.search.extendedSearch">
              Extended search
            </a>
          </li>
          @if (isEditor()) {
            <li>
              <a href="#!/create/" i18n="@@ui.place.create">Create</a>
            </li>
          }
          @if (isReisestipendiat()) {
            <li>
              <a
                href="#!/search?q=%7B%22bool%22:%7B%22must%22:%5B%7B%22query_string%22:%7B%22query%22:%22_exists_:noteReisestipendium%22%7D%7D%5D%7D%7D&type=extended"
                i18n="@@ui.search.reisestipendium"
                >Stipendiary
              </a>
            </li>
          }
        </ul>
        @if (showSearch()) {
          <form
            novalidate
            class="navbar-search pull-left"
            (submit)="submitSearch()"
          >
            <ng-container i18n="@@ui.search.simpleSearch"
              >Simple search</ng-container
            >
            <div style="width: 191px; position: relative">
              <input
                [formControl]="query"
                type="text"
                class="search-query input-block-level"
                name="searchField"
                i18n-placeholder="@@ui.search.simpleSearch"
                placeholder="Simple search"
                (keypress.arrowup)="selectPrevSuggestion()"
                (keypress.arrowdown)="selectNextSuggestion()"
                (blur)="lostFocus()"
                autocomplete="off"
                focus-me="isFocused"
              />
              <i class="icon-search"></i>

              @if (searchSuggestions()) {
                <div class="suggestion-menu">
                  @for (
                    suggestion of searchSuggestions | sort;
                    track suggestion;
                    let index = $index
                  ) {
                    <div>
                      <div
                        class="suggestion"
                        [class.selected]="selectedSuggestionIndex() === index"
                        (mousedown)="submitSearch()"
                        (mouseover)="selectedSuggestionIndex.set(index)"
                        (focus)="selectedSuggestionIndex.set(index)"
                      >
                        {{ suggestion }}
                      </div>
                    </div>
                  }
                </div>
              }
            </div>
          </form>
        }
        <div
          style="margin-top: 8px; margin-left: 10px; float: right"
          ng-show="loading > 0"
        >
          <i
            class="icon-spinner icon-spin icon-large"
            style="color: white; cursor: default"
          ></i>
        </div>
      </div>
      <ul class="nav pull-right">
        <li>
          <a href="#!/about/" i18n="@@ui.about">About the Gazetteer</a>
        </li>
        <li>
          <a href="#!/help/">
            <ng-container i18n="@@ui.help">Help</ng-container>
            <i
              class="icon-question-sign"
              style="color: white; margin: 0px 0px 5px 3px"
            ></i>
          </a>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <ng-container i18n="@@ui.language.current">English</ng-container>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="?lang=en#!{{ getCurrentRoute() }}">English</a>
            </li>
            <li>
              <a href="?lang=de#!{{ getCurrentRoute() }}">Deutsch</a>
            </li>
            <li>
              <a href="?lang=ar#!{{ getCurrentRoute() }}"> العربية </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"
            >iDAI.welt <b class="caret"></b>
          </a>
          <div class="dropdown-menu">
            <iframe
              src="https://idai.world/config/idai-nav.html"
              frameborder="0"
              style="height: 100vh; width: 200px"
            ></iframe>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
