@if (shown()) {
  <div class="cookie_notice">
    <button
      class="btn btn-primary"
      (click)="dismiss()"
      style="float: right"
      i18n="@@cookie_notice.accept"
    >
      Got it!
    </button>
    <ng-container i18n="@@cookie_notice.text"
      >This website uses cookies to ensure the best possible experience. By
      continuing to use this website you are giving consent to cookies being
      used. For further information on cookies visit our
      <a href="http://www.dainst.org/en/datenschutz" target="_blank"
        >Privacy Policy</a
      >.</ng-container
    >
  </div>
}
